branca==0.7.2
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
decorator==5.1.1
folium==0.17.0
future==1.0.0
geocoder==1.38.1
geographiclib==2.0
geopy==2.4.1
idna==3.8
Jinja2==3.1.4
MarkupSafe==2.1.5
numpy==2.1.1
ratelim==0.1.6
requests==2.32.3
six==1.16.0
urllib3==2.2.2
xyzservices==2024.9.0
